<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <link rel='stylesheet' type="text/css" href="static/style.css">
    <title>Elis Spotify App {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <h1>Elis Playlist Generator</h1>

    {% block body %}
    <button onclick="window.location.href = '{{ auth_url }}';" >Login</button>
    <p>This quick test generates 3 playlists that will appear at the top of your Spotify playlists under 'Your Library' </p>
    {% endblock %}
</body>
</html>